a{
	color: #000;

	&:hover{
		color: #000;
	}
}

.btn{
	&{
		@include border-radius(5px);
		@include box-shadow('inset', 0, 1px, 0, 0, rgba(255,255,255,0.2));
		background: $primary-color;
		color: #fff;
		display: block;
		font-size: .9em;
		padding: 6px 11px;
		text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	}

	&:hover{
		color: #fff;
		background: darken( $primary-color, 10% );
	}

	&.orange{
		&{
			background: rgb(35, 100, 173);
		}

		&:hover{
			background: darken( rgb(35, 100, 173), 10% );
		}	
		
	}

}

hr{
	border: 1px solid rgba(232, 232, 232, 1);
	border-width: 0 0 1px;
	clear: both;
	margin: 0;
	padding: 0 0 30px;
}

.clearfix{
	clear: both;
}

.block-title{
	color: #cb2100;
	font-size: 1.5em;
	text-shadow: $light-text-shadow;
}

.block-more{
	display: block;
	float: right;
	margin-top: 20px;
	margin-bottom: 10px;
	text-shadow: $light-text-shadow;
}

.block{
	padding: 0 25px 25px;
	background: $bg-light-bg;
	border: 1px solid $border-color-light;
}

/* Pager */
#pager{
	&{
		margin: 20px 0;
		background: #F5F5F5;
		padding: 15px;
		text-align: center;
	}

	strong,a{
		margin: 0 8px 0;
	}
}