#search-results{
	&{

	}

	.search-result{
		&{
			border: 1px solid $border-color-light;
			margin: 0 0 30px;
		}

		.address{
			&{
				background: #FCFCFC;
				color: #636363;
				padding: 7px;
				border-bottom: 1px solid #E8E8E8;
			}

			i{
				color: $primary-color;
			}
		}

		.search_result_gallery{
		  width: 100%;
		  height: 165px;			
		}

		.price{
			color: $primary-color;
			font-size: 1.2em;
			margin: 10px 20px 5px 0;	
		}

		.title{
			font-weight: bold;
			margin: 0 0 5px;
		}

		.body{
			margin: 0 20px 5px 0;
			font-size: .9em;
			color: $light-font-color;
		}

		.bedrooms{
			margin: 0 20px 0 0;
		}

		.bathrooms{
			margin: 0 20px 0 0;
		}

		.more{
			margin: 0 10px 10px 0;
		}

		.bookmark{
			margin: 0 20px 10px 0;
		}
	}
}