/* Body Style Variables */

$font-stack:			'Hiragino Sans GB','Microsoft YaHei',arial,sans-serif,"NotoSansCJKsc-Regular";
$primary-color: 		#C81919;
$body-color:			#FCFCFC;
$bg-light-bg:			#fafafa;
$border-text-light:		#8c8c8c;
$border-color-light:	#E8E8E8;
$base-fontsize:			14px;
$global-padding:		25px 0;
$global-padding-l:  	50px 0;
$light-font-color:		#626262;
$light-text-shadow:		0 1px 0 rgba(255, 255, 255, .2);

/* Menu Style Variables */

$menu-font-color:	$light-font-color;
$menu-font-hover:	$primary-color;

/* Main Style Variables */


/* Footer Style Variables */

$footer-background: #F9F9F9;

/* Bottom Style Variables */

$bottom-background: #F9F9F9;