body{
	font-family: 'Hiragino Sans GB','Microsoft YaHei',arial,sans-serif,"NotoSansCJKsc-Regular";
	font-size: 16px;
	margin: 0;
	padding: 0;
	border: 0;
}

header{
	background: #b80510;
}

header .menu_wrapper
{
	background: #fff;
	border-bottom: 1px solid #EAEAEA;
}

header .menu_wrapper ul
{
	list-style: none;
}

header .menu_wrapper ul li a{
	float: left;
	display: block;
	color: #000;
	text-decoration: none;
}